<!-- 
wikins开源博客
基于thinkphp3.2框架开发
wilinks 版权所有
博客地址：www.cbbtop.com
 -->
<include file="Common/header" />
    <link rel="stylesheet" type="text/css" href="__CSS__/nofound.css"/>
<include file="Common/header_one" />
    <div class="Body_content">
        <div class="container">
            <img src="__IMG__/404.png" title="NoFound" alt="NoFound">
            <a class="BackIndex" href="{:U('Home/Index/index')}"></a>
            <a class="BackLast" href="javascript:history.back(-1)"></a>
        </div>
    </div>   
<include file="Common/footer_one" />    
<include file="Common/contact" />   
<include file="Common/footer" />