<!-- 
wikins开源博客
基于thinkphp3.2框架开发
wilinks 版权所有
博客地址：www.cbbtop.com
 -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="__IMAGES__/tag.ico" >
    <link rel="icon" href="__IMAGES__/tag.ico"  >
    <title><if condition="$show[0]['title'] != ''">{$show[0]['title']}<else />wilkins,cbbtop,CBBTOP,linpx,php,web,html,css,Linux,react,JavaScript,前端,后端,技术,博客</if></title>
    <meta name="keywords" content="wilkins,cbbtop,CBBTOP,linpx,php,web,html,css,Linux,react,JavaScript,前端,后端,技术,博客,blog,算法,框架" />
    <meta name="description" content="CBBTOP系一个个人博客，里面的内容当然主要是偏向程序员和互联网这块的，绝大多数是个人的学习和备忘，当然还有一些其他的教程和一些心得看法，希望自己成长的同时也能帮助大家." />
    <link href="__CSS__/xcode.min.css" rel="stylesheet">
    <link href="__CSS__/style.min.css" rel="stylesheet">
    <link href="__CSS__/bootstrap.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__JS__/html5.min.js"></script>
    <script src="__JS__/respond.min.js"></script>

    <![endif]-->
    <!--百度统计-->
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?8580f9e71f34398eba81d30515ef9d7f";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body class="bg-grey" gtools_scp_screen_capture_injected="true">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">当前网页
    <strong>不支持</strong>你正在使用的浏览器. 为了正常的访问, 请
    <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。</div>
<![endif]-->